.owl{
	position:relative;
	height: 94vh;
	z-index:1;
	text-align:center;
}
.owl:before{
	position:absolute;
	top:0;
	right:0;
	left:0;
	height:100%;
	width:100%;
	background:url('./../OWL.jpg') no-repeat center top /cover;
	content:'';
	-webkit-filter:brightness(50%);
	filter:brightness(50%);
	z-index:-1;
}

.owlText{
	height:100%;
}
.elf{
	font-size:4vw;
	color:white;
	font-family:'Merriweather', serif
}

.subElf{
	font-size:2vw;
	color:#cdcfd3;
	font-family:'Merriweather', serif;
}
@media only screen and (max-width:600px){
	.elf{
		font-size:7vw;
	}
	.subElf{
		font-size:4vw;
		margin-top:-60%;
	}
}
